{% extends "base.html" %}

{% block header %}
{% endblock %}


{% block content %}
<h1>Transaktion hinzufügen</h1>
    <form method="POST" action="/dashboard">
        <label for="transaktion">Transaktion:</label>
        <input type="text" name="transaktion" required><br>

        <label for="transaktionsart">Transaktionsart:</label>
        <select name="transaktionsart" id="transaktionsart" required>
            <option value="">--Bitte wählen--</option>
            <option value="einnahme">Einnahme</option>
            <option value="ausgabe">Ausgabe</option>
        </select><br>    


        <label for="betrag">Betrag:</label>
        <input type="number" name="betrag" required><br>

        <label for="kategorie">Kategorie:</label>
        <select name="kategorie" id="kategorie" required>
            <option value="">--Bitte wählen--</option>
            <option value="einkauf">Einkauf</option>
            <option value="miete">Miete</option>
            <option value="freizeit">Freizeit</option>
            <option value="rechnungen">Rechnungen</option>
        </select><br>


        <label for="datum">Datum:</label>
        <input type="date" name="datum" required><br>

        <label for="bemerkungen">Bemerkungen:</label>
        <textarea name="bemerkungen"></textarea><br>

        <input type="submit" value="Transaktion hinzufügen">
    </form>

    <a href="/transaktionsverlauf">Gespeicherte Transaktionen anzeigen</a>

{% endblock %}

{% block footer %}
{% endblock %}