{% extends "base.html" %}

{% block title %}Dashboard{% endblock %}

{% block header %}
{% endblock %}


{% block content %}
<h1>Transaktion hinzufügen</h1>
    <form method="POST">
        <label for="transaktion">Transaktion:</label>
        <input type="text" name="transaktion" required><br>

        <label for="transaktionsart">Transaktionsart:</label>
        <select name="transaktionsart" id="transaktionsart" required>
            <option value="">--Bitte wählen--</option>
            <option value="Einnahme">Einnahme</option>
            <option value="Ausgabe">Ausgabe</option>
        </select><br>    


        <label for="betrag">Betrag:</label>
        <input type="number" name="betrag" required><br>

        <label for="kategorie">Kategorie:</label>
        <select name="kategorie" id="kategorie" required>
            <option value="">--Bitte wählen--</option>
            <option value="Miete">Miete</option>
            <option value="Lohn">Lohn</option>
            <option value="Gewinn oder Schenkung">Gewinn oder Schenkung</option>
            <option value="Haushalt">Haushalt</option>
            <option value="Transport">Transport</option>
            <option value="Gesundheit">Gesundheit</option>
            <option value="Bildung">Bildung</option>
            <option value="Freizeit">Freizeit</option>
            <option value="Sparen und Investieren">Sparen und Investieren</option>
            <option value="Kinder">Kinder</option>
            <option value="Haustiere">Haustiere</option>
            <option value="Spenden und Geschenke">Spenden und Geschenke</option>
            <option value="Sonstiges">Sonstiges</option>

        </select><br>


        <label for="datum">Datum:</label>
        <input type="date" name="datum" required><br>

        <label for="bemerkungen">Bemerkungen:</label>
        <textarea name="bemerkungen"></textarea><br>

        <input type="submit" value="Transaktion hinzufügen">
    </form>

    <a href="/transaktionsverlauf">Gespeicherte Transaktionen anzeigen</a>

{% endblock %}

{% block footer %}
{% endblock %}