{% extends "base.html" %}

{% block header %}
{% endblock %}


{% block content %}

    <h1>Transaktionsverlauf</h1>

    <ul>
        {% for transaktion in transaktionen %}
            <li>
                <strong>Transaktion:</strong> {{ transaktion['Transaktion'] }}<br>
                <strong>Kosten:</strong> {{ transaktion['Kosten'] }}<br>
                <strong>Kategorie:</strong> {{ transaktion['Kategorie'] }}<br>
                <strong>Datum:</strong> {{ transaktion['Datum'] }}<br>
                <strong>Bemerkungen:</strong> {{ transaktion['Bemerkungen'] }}<br>
            </li>
        {% endfor %}
    </ul>

    <a href="/budget">Zurück zur Transaktion hinzufügen</a>

{% endblock %}

{% block footer %}
{% endblock %}