{% extends "base.html" %}


{% block title %}Transaktionsverlauf{% endblock %}

{% block header %}
{% endblock %}


{% block content %}

    <h1>Transaktionsverlauf</h1>

    <ul>
        {% for transaktion in transaktionen %}
            <li>
                <strong>Transaktion:</strong> {{ transaktionen['Transaktion'] }}<br>
                <strong>Transaktionsart:</strong> {{ transaktionen['Transaktionsart'] }}<br>
                <strong>Betrag:</strong> {{ transaktionen['Betrag'] }}<br>
                <strong>Kategorie:</strong> {{ transaktionen['Kategorie'] }}<br>
                <strong>Datum:</strong> {{ transaktionen['Datum'] }}<br>
                <strong>Bemerkungen:</strong> {{ transaktionen['Bemerkungen'] }}<br>
            </li>
        {% endfor %}
    </ul>

    <a href="/home">Zurück zur Transaktion hinzufügen</a>

{% endblock %}

{% block footer %}
{% endblock %}